# =========================
# Project files to ignore
# =========================

# The default upload folder
public/uploads/

# Project resources
_dev
_resources

# Remote db settings
app/config/db.php

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# Thumbnails
._*
