AddDefaultCharset UTF-8

SetEnvIfNoCase User-Agent "^libwww-perl*" block_bad_bots
Deny from env=block_bad_bots

<IfModule mod_rewrite.c>
    RewriteEngine on
# Disable below comments on remote hosts    
#    RewriteCond %{HTTP_HOST}  \.
#    RewriteCond %{HTTP_HOST} !^www\.
#	RewriteRule (.*) http://www.%{HTTP_HOST}/Mtc/$1 [R=301,L]

	RewriteRule    ^$    public/    [L]
	RewriteRule    (.*) public/$1    [L]
 </IfModule>
