@import 'reset.scss';
@import 'mixins.scss';
@import 'colors.scss';
@import 'grid.scss';

/* https://scotch.io/tutorials/create-a-real-time-shoutbox-with-laravel-events */

body {
    color: $clr-font-main;
    font-family: 'Open Sans',sans-serif;
    font-size: 1em;
    line-height: 1em;
    background: $clr-bg-main;
}

a {
    text-decoration: none;
    box-shadow: none;
    outline: 0;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    list-height: 1.5em;
    color: $clr-font-h;
    margin: 0 auto;
}

/* Site header */
header#site-header {
    background: $clr-bg-light;
}
nav#main-nav {
    width: 80em;
    margin-bottom: 50px;

    ul {

        list-style: none;
        text-align: center;
        float: left;

        li {
            display: inline-block;
            padding: 1em;

            a {
                display: block;
                color: $clr-font-a;
                transition: .2s ease all;
                text-transform: uppercase;

                &:hover {
                    color: $clr-font-a-hover;
                }
            }
        }

    }

    .logo {
        background: $clr-bg-dark;
        text-align: center;
        padding: 1.5em;
        img { height: 30px; }
    }
}
header.title {
    text-align: center;
    margin-bottom: 50px;
}

section#login {
    form {
        background: $clr-bg-accent;
    }
    aside {
        background: $clr-bg-dark;
    }
}

/* Form elements */
button {
    border-radius: 3px;
    transition: background .3s,color .3s,border .3s ease;

    // Sizes
    &.large {
        height: 55px;
        width: 315px;
        font-size: 15px;
    }
    &.medium {}
    &.small {}

    // Colors
    &.blue {
        background: #5584ff;
        color: #f0f0f8;
        border: 0 solid #3d6deb;
    }
    &.darkBlue {
        @extend .blue;
        background: #2a1647;
        color: #000;

        :hover {
            color: #2a1657;
            background: #000;

        }
    }
}
